    /*
    Flaticon icon font: Flaticon
    Creation date: 28/08/2017 16:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-window:before { content: "\f100"; }
.flaticon-parking:before { content: "\f101"; }
.flaticon-water-heater:before { content: "\f102"; }
.flaticon-heater:before { content: "\f103"; }
.flaticon-roof:before { content: "\f104"; }
.flaticon-weightlifting:before { content: "\f105"; }
.flaticon-casino-cctv:before { content: "\f106"; }
.flaticon-placeholder:before { content: "\f107"; }
.flaticon-cart:before { content: "\f108"; }
.flaticon-mortgage-loan:before { content: "\f109"; }
.flaticon-time-is-money:before { content: "\f10a"; }
.flaticon-people:before { content: "\f10b"; }
    
    $font-Flaticon-window: "\f100";
    $font-Flaticon-parking: "\f101";
    $font-Flaticon-water-heater: "\f102";
    $font-Flaticon-heater: "\f103";
    $font-Flaticon-roof: "\f104";
    $font-Flaticon-weightlifting: "\f105";
    $font-Flaticon-casino-cctv: "\f106";
    $font-Flaticon-placeholder: "\f107";
    $font-Flaticon-cart: "\f108";
    $font-Flaticon-mortgage-loan: "\f109";
    $font-Flaticon-time-is-money: "\f10a";
    $font-Flaticon-people: "\f10b";