	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/08/2017 16:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-window:before { content: "\f100"; }
.flaticon-parking:before { content: "\f101"; }
.flaticon-water-heater:before { content: "\f102"; }
.flaticon-heater:before { content: "\f103"; }
.flaticon-roof:before { content: "\f104"; }
.flaticon-weightlifting:before { content: "\f105"; }
.flaticon-casino-cctv:before { content: "\f106"; }
.flaticon-placeholder:before { content: "\f107"; }
.flaticon-cart:before { content: "\f108"; }
.flaticon-mortgage-loan:before { content: "\f109"; }
.flaticon-time-is-money:before { content: "\f10a"; }
.flaticon-people:before { content: "\f10b"; }